- name: Install nginx
  package:
    name: nginx
    state: present

- name: Copy custom index.html
  template:
    src: index.html.j2
    dest: /usr/share/nginx/html/index.html
  notify: Restart nginx
- name: Start and enable nginx
  service:
    name: nginx
    state: started
    enabled: true


