<!DOCTYPE html>
<html>
<head>
  <title>CI/CD NGINX</title>
</head>
<body style="font-family: Arial; text-align: center;">
  <h1>🚀 Deployed by Ansible + GitHub Actions</h1>
  <p>Server: NGINX</p>
  <p>Updated at: {{ ansible_date_time.iso8601 }}</p>
</body>
</html>
