name: Deploy using Ansible

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Ansible
        run: |
          sudo apt update
          sudo apt install -y ansible

      - name: Setup SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_KEY }}" > ~/.ssh/20june.pem
          chmod 400 ~/.ssh/20june.pem
          echo -e "Host *\n  StrictHostKeyChecking no" > ~/.ssh/config

      - name: Run Ansible Playbook
        run: |
          ansible-playbook -i inventory site.yml

